@model LifeSureProject.Models.DataModels.TblTeam
<!-- Team Start -->
<div class="container-fluid team pb-5">
    <div class="container pb-5">
        <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
            <h4 class="text-primary">@Resources.Resource.Team</h4>
            <h1 class="display-4 mb-4">@Model.Title</h1>
            <p class="mb-0">
                @Model.Description                
            </p>
        </div>
        @Html.Action("TeamBoxPartialDefault", "Team")
    </div>
</div>
<!-- Team End -->