
@model LifeSureProject.Models.DataModels.TblFeature

@{
    ViewBag.Title = "UpdateAdminFeature";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<h2>Özellik Güncelleme</h2>

<form method="post">
    <input type="hidden" name="FeatureId" value="@Model.FeatureId" />
    <br />
    <label>Adres</label>
    <input for="Title" type="text" name="Title" value="@Model.Title" class="form-control" style="border:1px solid black" />
    <br />
    <label>Açıklama</label>
    <input for="Description" type="text" name="Description" value="@Model.Description" class="form-control" style="border:1px solid black" />
    <br />    
    <button class="btn btn-success">Güncelle</button>
</form>

