@model LifeSureProject.Models.DataModels.TblAbout

@{
    ViewBag.Title = "AdminAboutList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <br />
    <br />
    <h1>Hakkımızda İçeriği</h1>
    <table class="table table-hover">
        <tr>
            <th>Başlık</th>
            <th>Açıklama</th>
        </tr>
        
        
            <tr>
                <td>@Model.Title</td>
                <td>@Model.Description</td>
            </tr>
       
    </table>
    <a href="/AdminAbout/UpdateAdminAbout/@Model.AboutId" class="btn btn-primary"> Güncelle</a>
</div>
